h2 {
  text-align: center;
}

.squished-image {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.glyphicon-ok {
  font-size: 25px;
  color: green;
}

th {
  text-align: center;
}

.algebra-1a-module {
  background-color: #FFF176;
}

.algebra-1b-module {
  background-color: #64B5F6;
}

.large-image {
  width: 50%;
}

.small-image {
  width: 430px;
}

.homepage-image {
  height: 300px;
  width: 300px;
}
